<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="google" content="notranslate" />
  <title>MapMap login</title>
  <meta name="description" content="MapMap lets you do fun stuff with maps." />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />

  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script defer data-domain="localhost" src="http://localhost:8080/"></script>
  <script>window.apiKey = "<%= apiKey %>"</script>
</head>

<body>
  <%- include('partials/header') %>

    <h2>Login</h2>
    <form method="POST" action="/users">
      <select name="user_id">
        <% users.forEach(user=> { %>
          <option value="<%= user.id %>">
            <%= user.name %> (<%= user.email %>)
          </option>
          <% }) %>
      </select>
      <button type="submit">Login</button>
    </form>
</body>

</html>